---
name: Docker Image CI

on:
  push:
    branches:
      - "master"
  pull_request:
    branches:
      - "master"
    paths:
      - "Dockerfile"
      - "docker-compose.test.yml"
      - "entrypoint.sh"
      - ".github/workflows/docker-image.yml"
      - ".github/workflows/hadolint.yml"
  workflow_dispatch:

jobs:
    
  build-test:
    name: Container Test Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v6

      - name: Run tests
        run: |
          if [ -f docker-compose.test.yml ]; then
            docker compose --file docker-compose.test.yml build
            docker compose --file docker-compose.test.yml run sut
          else
            docker build . --file Dockerfile
          fi

  build-release:
    name: Container Release
    runs-on: ubuntu-latest
    needs: build-test
    if: github.ref == 'refs/heads/master' && github.event_name == 'push'

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Packages Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          file: Dockerfile
          tags: ghcr.io/hspaans/latexmk-action:2.1
          outputs: |
            type=image
            name=target
            annotation-index.org.opencontainers.image.description=LaTeX container for GitHub Action latexmk
